
<!DOCTYPE html>
<html>
    

	<head>
		<title>Chatbot</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" /> 
       
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        
		
    </head>
  
   
    <div class="dashboard-patient-page-container bg-gray-100">
        <div class="left-side-container">
          
          {% include 'sidebare.html' %}
          <main>
              {% block content %}{% endblock %}
          </main>
        
        </div>
        <div class="right-side-container bg-gray-100">
            <h1>lhwa dwa</h1>
        </div>
    </div>

  
    
    
</html>
